<% @users.each do |user| %>
<div class="users">
<p><%= user.username %></p>
<p><%= user.surname %></p>
<p><%= user.email %></p>
<p><%= user.goals %></p>
<p><%= user.employment_status %></p>
<p><%= user.summary %></p>
</div>
<% end %>

<style>
.users {
  border: 1px solid blue;
  text-align: center;
  
}

</style>