<h1>My Dev Journey Timeline</h1>

<h2><a href="/">Add new event</a></h2>


<section class="timeline">
  <% @events.each do |event|%>
    <div class="level">

      <div class="event-left">
        <p><%= event.date%><br> <%= event.event_name%><br> <%= event.description%></p>
        <a href="/events/<%= event.id%>/edit">Edit...</a>
        <form action="/events/<%= event.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button>Delete</button>
      </div>
      <div class="icon"><%= event.icon_url%></div>



      </form>
    </div>
  <%end%>
</section>
