<div class="logoutform">

    <form class="" action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>

</div>

<h1>My Dev Journey Timeline</h1>
<div class="para">
  <p>This is a timeline that outlines your journey as an asipiring web developer. Add an event to your web journey so that it tells a story.</p>
</div>


<section class="timeline js-timeline">
  <div class="cd-timeline__container">
    <% @sorted.each do |event|%>

        <div class="cd-timeline__block js-cd-block">
          <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
            <%= image_tag "star_icon.png" %>
          </div>

          <div class="cd-timeline__content js-cd-content">
            <h3><%= event.date%></h3><br>
              <h3><%= event.event_name%></h3>
              <p><%= event.description%></p>
              <img src="<%= event.icon_url%>" alt="" height="50px">
                <a href="/events/<%= event.id%>/edit">Edit...</a><br>
            <form action="/events/<%= event.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button data-event-id="<%= event.id %>">Delete</button>
            </form>
        </div>
      </div>

    <%end%>
  </div>

</section>

<div class="add-event-link">
<h2><a href="/events/new">Add Event</a></h2>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

  var timelineSection = document.querySelector('.timeline');

  timelineSection.addEventListener('click', function(event) {
      // console.log(event.target.tagName)
      var button = event.target
      if (button.tagName == 'BUTTON') {
        event.preventDefault();
        console.log(button.getAttribute('data-event-id'));

        // send a request to delete
        // delete /api/events/5
        $.ajax({
          url: "/api/events/" + button.getAttribute('data-event-id'),
          method: 'delete'
        }).done(function(data) {
          var $container = $(button).closest('.cd-timeline__content')
          $container.empty().append('this event went bye bye!')
          setTimeout(function(){
            location.reload()
          },3000)
        });
      }
  })

</script>
