<div class="logoutform">

    <form class="" action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>

</div>

<h1>My Dev Journey Timeline</h1>

<p>This is a timeline that outlines your journey to becoming an asipiring web developer. Add an event to your web journey so that it tells a story.</p>


<section class="timeline js-timeline">
  <div class="cd-timeline__container">

    <% @sorted.each do |event|%>
        <div class="cd-timeline__block js-cd-block">
          <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
            <%= image_tag "star_icon.png" %>
          </div>

          <div class="cd-timeline__content js-cd-content">
            <h3><span class="cd-timeline__date"></span><h3><br>
              <h3><%= event.date%> <br> <%= event.event_name%></h3>
              <p><%= event.description%></p>
              <img src="<%= event.icon_url%>" alt="" height="50px">
                <a href="#0" class="cd-timeline__read-more">Read more</a>
                <a href="/events/<%= event.id%>/edit">Edit...</a><br>
            <form action="/events/<%= event.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button>Delete</button>
            </form>
        </div>
      </div>

    <%end%>
  </div>

</section>

<div class="add-event-link">
<h2><a href="/">Add Event</a></h2>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

  var timelineSection = document.querySelector('.timeline');

  var removeEventDiv = function(response) {
    console.log('todo - remove event div');
    console.log(event.target.getAttribute('data-event-id'));
    event.target.getAttribute('data-event-id').delete;
  }

  timelineSection.addEventListener('click', function(event) {
      event.preventDefault();
      // console.log(event.target.tagName)
      if (event.target.tagName == 'BUTTON') {
        console.log(event.target.getAttribute('data-event-id'));
        
        // send a request to delete
        // delete /api/events/5
        $.ajax({
          url: "/api/events/" + event.target.getAttribute('data-event-id'),
          method: 'delete'
        }).done(removeEventDiv);
      }
  })

</script>