<h1>My User Profile<h1>

<%if current_user.summary == nil %>

<h2>Create your profile</h2>
  <div class="profile-enter">
    <form action="/profile" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      <table>
        <tr>
          <td><label for="">Summary of who you are</label></td>
          <td><textarea rows="8" cols="80" name="summary"></textarea></td>
        </tr>
        <tr>
          <td><label for="">My Goals</label></td>
          <td><textarea rows="8" cols="80" name="goals"></textarea></td>
        </tr>
        <tr>
          <td><label for="">Employment Status</label></td>
          <td><textarea rows="2" cols="80" name="status"></textarea></td>
        </tr>
      </table>
     <button>Create Profile</button>
    </form>
 </div>


<%else%>

  <h2><%= current_user.username %>

    <%= current_user.surname %></h2>
  <div class="profile-show">
    <table>
      <tr>
        <td><p>My Email Address</p></td>
        <td class="col-2"><p><strong><%= current_user.email %></p></strong></td>
      </tr>
      <tr>
        <td><p>My Summary</p></td>
        <td class="col-2"><p><strong> <%= current_user.summary %></p></td>
      </tr>
      <tr>
        <td><p>My Goals</p></td>
        <td class="col-2"><p><strong><%= current_user.goals %></p></strong></td>
      </tr>
      <tr>
        <td><p>My Github Username</p></td>
        <td class="col-2"><p><strong> <%= current_user.summary %></p></strong></td>
      </tr>
      <tr>
        <td><p>My Current Employment Status</p></td>
        <td class="col-2"><p><strong><%= current_user.employment_status %></p></strong></td>
      </tr>
    </table>
  </div>

    <form action="/profile/<%= current_user.id %>/edit" method="get">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Edit Profile</button>
    </form>

<% end %>
