<h1>My User Profile<h1>

<%if current_user.summary == nil %>

<h1>Create your profile</h1>

<form action="/profile" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <label for="">Summary of who you are</label>
  <textarea name="summary"></textarea>

  <label for="">My Goals</label>
  <textarea name="goals"></textarea>

  <label for="">Employment Status</label>
  <textarea name="status"></textarea>

  <button>Create profile</button>
</form>

<%else%>

<h2><%= current_user.username %>

<%= current_user.surname %></h2>
<p>My email address: <strong><%= current_user.email %></p></strong>
<p>My summary: <strong><%= current_user.summary %></p></strong>
<p>My goals: <strong><%= current_user.goals %></p></strong>
<p>My github user name: <strong><%= current_user.github_username %></p></strong>
<p>My current employment status: <strong><%= current_user.employment_status %></p></strong>

<form action="/profile/<%= current_user.id %>/edit" method="get"> 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button>Edit Profile</button>
</form>

<% end %>