<!DOCTYPE html>
<html>
  <head>
    <title>My Dev Journey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Monofett|Overpass+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <a href="/">Home</a>
    <a href="/about">About us</a>
    <a href="/profile">User Profile</a>
      <% if logged_in? %>
    <a href="/">My Dev Journey</a>
      <span>logged in as <%= current_user.username %></span>
      <% end %>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>&copy Megan, Kasia & Shahrene 2018</p>
  </footer>

</html>
